 body {
    background-color: cornsilk;
 }

 .container{
    width: 1000px;
    margin: 0 auto;
    padding: 50px;
    background-color: darksalmon;
    border: 8px solid orange; 
 }
 .nav{
    list-style: none;
    text-align: center;
 }

 .nav li {
    display:inline;
    margin-right: 20px;
 }

 .div-test{
    background-color: cadetblue;
    text-align: center;
    color: aliceblue;
 }

 .span1 {
    font-size: 50px;
 }

 .span2 {
    font-size: 10px;
 }