body {
    background-color:floralwhite;
 }

 .container{
    width: 730px;
    margin: 0 auto;
    padding: 50px;
    background-color: rgb(205, 122, 94);
    border: 8px solid rgb(249, 207, 127); 
 }
 .nav{
    list-style: none;
    text-align: center;
 }

 .nav li {
    display:inline;
    margin-right: 20px;
 }

 .div-test{
    background-color: cadetblue;
    text-align: center;
    color: aliceblue;
 }

 .span1 {
    font-size: 50px;
 }

 .span2 {
    font-size: 10px;
}

.div-test2{
   background-color: darksalmon;
   text-align: center;
   color: aliceblue;
}

.div-test3{

   background-color:rgb(232, 105, 105);
   text-align: center;
   color:aliceblue
}
